<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader" />
  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>이름</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="allergy : ${allergys}">
        <td th:text="${allergy.id}"></td>
        <td th:text="${allergy.name}"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>